@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
}

html, body{
  margin: 0;
  background: black;
  font-family: 'Montserrat', helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.movie_card{
  position: relative;
  display: block;
  width: 700px;
  height: 230px;
  margin: 60px auto; 
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
  &:hover{
    transform: scale(1.02);
    transition: all 0.4s;
  }
  .info_section{
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
    button{
      margin: 70px -100px;
    }
    .movie_header{
      position: relative;
      padding: 25px;
      height: 40%;
      h1{
        color: #fff;
        font-weight: 400;
      }
      h4{
        color: #9ac7fa;
        font-weight: 400;
      }
      .minutes{
        display: inline-block;
        margin-top: 10px;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid rgba(255,255,255,0.13);
      }
      .type{
        display: inline-block;
        color: #cee4fd;
        margin-left: 10px;
      }
      .locandina{
        position: relative;
        float: left;
        margin-right: 20px;
        height: 120px;
        box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
      }
    }
    .movie_desc{
      padding: 25px;
      height: 50%;
      .text{
        color: #cfd6e1;
      }
    }
    .movie_social{
      height: 10%;
      padding-left: 15px;
      padding-bottom: 20px;
      ul{
        list-style: none;
        padding: 0;
        li{
          display: inline-block;
          color: rgba(255,255,255,0.4);
          transition: color 0.3s;
          transition-delay: 0.15s;
          margin: 0 10px;
          &:hover{
            transition: color 0.3s;
            color: rgba(255,255,255,0.8);
          }
          i{
            font-size: 19px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .blur_back{
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%; right: 0;
    background-size: cover;
    border-radius: 11px;
  }
}

#bright{
  box-shadow: 0px 0px 150px -45px rgba(255, 51, 0, 0.5);
  &:hover{
    box-shadow: 0px 0px 120px -55px rgba(255, 51, 0, 0.5);
  }
}
.bright_back{
  width: 70%;
}
.button {
  --color: #ff330080;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 600;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
 }
 
 .button::before, .button::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
 }
 
 .button::before {
  top: -1em;
  left: -1em;
 }
 
 .button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
 }
 
 .button:hover::before, .button:hover::after {
  height: 500px;
  width: 500px;
 }
 
 .button:hover {
  color: rgb(10, 25, 30);
 }
 
 .button:active {
  filter: brightness(.8);
 }
 h1{
  color: white;
 }
 .checked {
  color: orange;
}
.bgimg{
  height: 100vh;
  width: 100vw;
  background-position: right 50% bottom 75%;
}
.details{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 17%;
  margin-left: 1rem;
  width: 40%;
  color: white;
  button{
    margin-right: 2rem;
  }
  h1{
    font-size: 5rem;
    font-family: 'Yeseva One', cursive;
  }
  .details-in{
    display: flex;
    gap: 15rem;
    color: white;
    ul{
    display: flex;
    color: white;
    gap: 2.2rem;
    }
  }
}
.navbar{
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
  height: 4rem;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem;
  ul{
  display: flex;
  list-style: none;
  gap: 2rem;
  cursor: pointer;
  span{
    padding: .5rem;
    color: rgb(202, 156, 6);
    border: 1px solid rgb(202, 156, 6);
    border-radius: 15px;
    color: white !important;
    transition: all ease-in-out .5s;
    &:hover{
      color: black;
      background-color: rgb(202, 156, 6);
    }
  }
  }
}
.form{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5rem auto;
  color: white;
  
  input{
    width: 350px;
    margin-top: .3rem;
  }
  label{
    margin-top: 2rem;
  }
}


@media screen and (min-width: 768px) {
  .movie_header{
    width: 60%;
  }
  
  .movie_desc{
    width: 50%;
  }
  
  .info_section{
    background: linear-gradient(to right, #0d0d0c 50%, transparent 100%);
  }
  
  .blur_back{
    width: 80%;
    background-position: -100% 10% !important;  
  }
}

@media screen and (max-width: 768px) {
  .movie_card{
    width: 95%;
    margin: 70px auto; 
    min-height: 350px;
    height:auto;
    .info_section{
      .button{
        margin-left: 10px;
      }
    }
  }
  
  .blur_back{
    width: 100%;
    background-position: 50% 50% !important;  
  }
  
  .movie_header{
    width: 100%;
    margin-top: 85px;
  }
  
  .movie_desc{
    width: 100%;
  }
  
  .info_section{
    background: linear-gradient(to top, rgb(20, 20, 19) 50%, transparent 100%);
    display: inline-grid;
  }
}